{
    "rules": {
        "arrow-spacing": "error",
        "brace-style": ["error", "stroustrup"],
        "camelcase": "error",
        "comma-dangle": ["error", "always-multiline"],
        "comma-spacing": "error",
        "constructor-super": "error",
        "curly": ["error", "multi-or-nest", "consistent"],
        "eol-last": "error",
        "eqeqeq": ["error", "always"],
        "guard-for-in": "off",
        "indent": ["error", 4, {
            "CallExpression": {"arguments": "first"},
            "FunctionExpression": {"parameters": "first"},
            "flatTernaryExpressions": true,
            "SwitchCase": 1
        }],
        "keyword-spacing": "error",
        "linebreak-style": ["error", "unix"],
        "max-len": ["error", 128, 2, {
            "ignoreUrls": true,
            "ignorePattern": "\\brequire\\([\"']|eslint-disable",
            "ignoreComments": true
        }],
        "no-alert": "error",
        "no-array-constructor": "error",
        "no-console": "off",
        "no-const-assign": "error",
        "no-constant-condition": "off",
        "no-debugger": "error",
        "no-dupe-class-members": "error",
        "no-dupe-keys": "error",
        "no-duplicate-imports": "error",
        "no-extra-bind": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-spaced-func": "error",
        "no-this-before-super": "error",
        "no-throw-literal": "error",
        "no-trailing-spaces": "error",
        "no-undef": "off",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "no-unused-vars": ["error", {"args": "none", "varsIgnorePattern": "^_*$"}],
        "no-useless-call": "error",
        "no-with": "error",
        "one-var": ["error", "never"],
        "prefer-const": "error",
        "prefer-spread": "error",
        "semi": ["error", "always"],
        "space-before-blocks": "error",
        "space-before-function-paren": ["error", "always"],
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "prefer-template": "error",
        "no-template-curly-in-string": "error",
        "template-curly-spacing": ["error", "never"],
        "arrow-parens": ["error", "always"],
        "arrow-body-style": "error",
        "prefer-arrow-callback": "error",
        "object-curly-spacing": ["error", "always"]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "root": true
}
