@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css');

.ps-root {
    font-family: KaTeX_Main, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: 100;
    -webkit-font-smoothing: antialiased !important;
}
.ps-root .ps-algorithm {
    margin: 0.8em 0;
    /* algorithm environment has borders; algorithmic has not */
    border-top: 3px solid black;
    border-bottom: 2px solid black;
}
.ps-root .ps-algorithm.with-caption > .ps-line:first-child {
    border-bottom: 2px solid black;
}

.ps-root .katex {
    text-indent: 0;
    font-size: 1em;
}
.ps-root .MathJax_CHTML, .ps-root .MathJax {
    text-indent: 0;
    font-size: 1em !important;
}

.ps-root .ps-line {
    margin: 0; padding: 0;
    line-height: 1.2;
}
.ps-root .ps-funcname {
    font-family: KaTeX_Main, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: small-caps;
    font-style: normal;
    text-transform: none;
}
.ps-root .ps-keyword {
    font-family: KaTeX_Main, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-variant: normal;
    font-style: normal;
    text-transform: none;
}
.ps-root .ps-comment {
    font-family: KaTeX_Main, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-transform: none;
}

/* line number support */
.ps-root .ps-linenum {
    font-size: 0.8em;
    line-height: 1em;
    width: 1.6em;
    text-align: right;
    display: inline-block;
    position: relative;
    padding-right: 0.3em;
}
.ps-root .ps-algorithmic.with-linenum .ps-line.ps-code {
    text-indent: -1.6em;
}
.ps-root .ps-algorithmic.with-linenum .ps-line.ps-code > span {
    text-indent: 0em;
}

/* scope lines support */
.ps-root .ps-algorithmic.with-scopelines div.ps-block {
    border-left-style: solid;
    border-left-width: 0.1em;
    padding-left: 0.6em;
}

.ps-root .ps-algorithmic.with-scopelines > div.ps-block {
    border-left: none;
}
